

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="background-color:lavenderblush;" >
	<br><br>
		<a href="#home" ng-click="showFrm()">Home</a> | <a href="#bio">Biography</a> | <a href="#contact">Contact</a>
		<br><br>
	<div ng-hide="frst">
		<h1>{{x}}! Welcome to my Page</h1>
	</div>	<br><br>
  	<div ng-hide="frm" style="height:200px;width:200px">	
  		<form class="form-inline" >
  			<div class="form-group">
    			<label for="exampleInputName2">What is your name ?</label>
    			<input type="text" ng-model="shwName" class="form-control" id="exampleInputName2" placeholder="Enter your name">
 			</div>
  		
  			<button type="submit" class="btn btn-default" ng-click="dsName()">Send</button>
		</form>
  	</div>
  	
  	<div ng-hide="scnShw" style="height:200px;width:200px">
  	Good {{k}} {{s}}
  	
  	<a href="#home" style="float:right" >Go back</a>
  	
  	</div>
  	
  	
  		
  </div>		 		
  
  <div class="col-md-4"></div>
</div>














